*.pyc
*~
.*.swp
.DS_Store
._*
.coverage
.tox
/FeinCMS.egg-info
/MANIFEST
/_build
/build
/dist
/docs/_build
/secrets.py
/tests/.coverage
/tests/.tox
/tests/htmlcov
\#*#
htmlcov
node_modules
test.zip
tests/test.zip
venv
