Daniel Renz <dr@oekohosting.ch>
Daniel Renz <dr.feinheit.ch>
Simon Schürpf <ss@feinheits-imac.feinheit.local>
Simon Schürpf <simon.schuerpf@gmail.com>
Martin J. Laubach <mjl@laubach.at>
Martin J. Laubach <Kwizda_prod@28zwo.at>
Maarten van Gompel (proycon) <proycon@anaproy.nl>
Bojan Mihelac <bmihelac@mihelac.org>
Antoni Aloy <antoni.aloy@trespams.com>
Nico Echaniz <nico@rakar.com>
Bjorn Post <bjorn.post@gmail.com>
Skylar Saveland <skyl@bioEEE.(none)>
Stephan Jaekel <steph@rdev.info>
Simon Bächler <sb@feinheit.ch>
Simon Bächler <simon@stellanera.com>
