exclude: ".yarn/|yarn.lock|.min.js$"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: requirements-to-freeze.txt
      - id: file-contents-sorter
        files: .gitignore
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.4.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "3.2"]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [--profile=black, --lines-after-imports=2, --combine-as]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ["--ignore=E203,E501,W503"]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.12.0
    hooks:
      - id: eslint
        args: [--fix]
        verbose: true
        additional_dependencies:
          - eslint@8.12.0
          - eslint-config-prettier@8.5.0
          - "@babel/core"
          - "@babel/eslint-parser"
          - "@babel/preset-env"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.1
    hooks:
      - id: prettier
        args: [--list-different, --no-semi]
        exclude: "^conf/|.*\\.html$|.*\\.json$"
