{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}Edit page {{ block.super }}{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />

<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery-1.3.min.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.ui.all.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.livequery.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.alerts.js"></script>

<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}helper.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}listener.js"></script>

<script type="text/javascript" src="/media/sys/feinheit/tinymce/tiny_mce.js"></script>

<script type="text/javascript">

    tinyMCE.init({
        mode: "none",
        theme: "advanced",
        language: "en",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_buttons1: "fullscreen,|,formatselect,image,media,code,|,cut,copy,paste,|,bold,italic,|,bullist,numlist,|,link,unlink",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_path: false,
        theme_advanced_blockformats: "p,h2,h3",
        theme_advanced_resizing: true,
        width: '650',
        height: '300',
        content_css: "/path_to_your_media/css/preview.css",
        plugins: "advimage,advlink,fullscreen,table,preview,media,inlinepopups",
        advimage_update_dimensions_onchange: true,
        //file_browser_callback: "CustomFileBrowser",
        relative_urls: false
    });

    function init_pagecontent() {
        // handle special page content type needs
        // this is not really extensible, but it works for now
        $('.order-machine textarea[name*=richtext]:visible').each(function(){
            tinyMCE.execCommand('mceAddControl', true, this.id);
        });
    }

    IMG_ARROW_DOWN_PATH = "{{ FEINCMS_ADMIN_MEDIA }}img/arrow_down.gif";
    IMG_ARROW_RIGHT_PATH = "{{ FEINCMS_ADMIN_MEDIA }}img/arrow_right.gif";
    IMG_CIRCLE_PATH = "{{ FEINCMS_ADMIN_MEDIA }}img/circle.gif";
    IMG_DELETELINK_PATH = "{{ FEINCMS_ADMIN_MEDIA }}img/icon_deletelink.gif";

    REGIONS = [];
    {% for region in page.template.regions.all %}
        REGIONS[{{ forloop.counter0 }}] = '{{ region.key }}';
    {% endfor %}
    ACTIVE_REGION = 0;
    REGION_MAP = []

    $(document).ready(function(){

        $("select[name$=region]:first").children("option").each(function(){
            if ($(this).val() != "")
            REGION_MAP[REGION_MAP.length] = $(this).val();
        });

        {% for content_name, content_type in content_types %}
            $("#{{ content_type }}_set").children().each(function(){
                if ($(this).hasClass("header")) {

                }
                else {
                    $(this).children("label").hide();
                    $(this).children("select[name$=region]").addClass("region-choice-field").hide();
                    $(this).children("input[name$=DELETE]").addClass("delete-field").hide();
                    $(this).children("input[name$=ordering]").addClass("order-field").hide();

                    var region_id = $(this).children(".region-choice-field").val();
                    region_id = REGION_MAP.indexOf(region_id);
                    region_append(region_id,$(this),"{{ content_name }}");
                }
            });
        {% endfor %}
        $(".order-machine").each(function(){
                $(this).siblings(".empty-machine-msg").hide();
                for (var i=0;i<$(this).children().length;i++) {
                    var item = $(this).children(".order-item").children(".item-content").children()
                        .children(".order-field[value="+i+"]")
                        .parent().parent().parent();
                    $(this).append(item);
                }
                if ($(this).children(":visible").length == 0) {
                    $(this).siblings(".empty-machine-msg").show();
                }
        });

        $(".order-machine").sortable({handle : '.handle'});
        $(".machine-control").hide();

        init_pagecontent();

        if(window.location.hash) {
            $(window.location.hash+'_tab').trigger('click');
        }
    });
</script>

<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}css/layout.css" />
<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}css/jquery.alerts.css" media="screen" />

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {{ page.title|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}

{% for error in page_form.non_field_errors %}
    {{ error }}<br/>
{% endfor %}
{% for formset in inline_formsets %}
    {% for form in formset.forms %}
        {% for error in form.non_field_errors %}
            {{ error }}<br/>
        {% endfor %}
    {% endfor %}
{% endfor %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="." method="post" id="{{ opts.module_name }}_form">

<div id="overview">
    {% for field in top_fieldset %}
        {{ field.label_tag }}
        <span>{{ field }}{{ field.errors }}</span>
    {% endfor %}

    <input type="submit" class="submit_form" value="{% trans 'Save' %}" />

    <hr/>

    {{ page_form.template.label_tag }}
    <span>{{ page_form.template }}{{ page_form.template.errors }}</span>

    <input type="button" class="cancel" value="{% trans 'Change Template' %}" />

    <hr/>
</div>
<div id="main_wrapper">
    <div class="navi_tab tab_active" id="settings_tab" key="settings" nr="0">Settings</div>
    {% for region in page.template.regions.all %}
        <div class="navi_tab tab_inactive" id="{{ region.key }}_tab">{{ region.title }}</div>
    {% endfor %}
    <div id="main">
        <div id="settings_body">
            <table>
                {% for field in settings_fieldset %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td><span>
                        {{ field }}
                        {{ field.errors }}
                        {% if field.field.help_text %}<p class="help">{{ field.field.help_text }}</p>{% endif %}
                    </span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% for region in page.template.regions.all %}
            <div id="{{ region.key }}_body" class="panel">
                <div class="empty-machine-msg">
                    Region empty
                </div>

                <div class="order-machine">
                </div>

                <div class="machine-control">
                    <div class="control-unit">
                        <span>Add New item:</span> <br/>
                        <select name="order-machine-add-select">
                        {% for n,v  in content_types %}
                            <option value="{{ v }}">{{ n }}</option>
                        {% endfor %}
                        </select>
                        <input type="button" class="order-machine-add-button button" value="OK" />
                    </div>
                    <div class="control-unit">
                        <span>Move selected item to:</span>  <br/>
                        <select name="order-machine-move-select">
                        {% for r in page.template.regions.all %}
                            {% ifnotequal region r %}
                                <option value="{{ r.key }}">{{ r.title }}</option>
                            {% endifnotequal %}
                        {% endfor %}
                        </select>
                        <input type="button" class="order-machine-move-button button" value="OK" />
                    </div>
                </div>
             </div>
        {% endfor %}
    </div>


</div>


<div id="inlines" style="display:none">
{% for formset in inline_formsets %}
    <div id="{{ formset.rel_name }}">
        <div class="header">
            {{ formset.management_form }}
            <h3>{{ formset.rel_name }}</h3>
        </div>
        {% for form in formset.forms %}
            <div id="{{ formset.rel_name }}_item_{{ forloop.counter0 }}">
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

</form>
{% endblock %}



