#content.colM {
    width:845px;
}

.navi_tab {
    float:left;
    padding: 3px 10px 3px 10px;
    cursor:pointer;
    border: 1px solid #ccc;
    border-bottom:none;
    min-width:100px;
    margin-top:3px;
    height:13px;
    font-weight: normal;
    background-image:none;
    color: black;
}
.tab_active {
    margin-top: 0;
    height:16px;
    font-weight: bold;
    background-image:url('../img/default-bg.gif');
    color: white;
}

#main {
    clear:both;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.panel {
     display:none;
     position:relative;
     padding-bottom:50px;
}

.order-machine {
    margin-bottom:10px;
}

.order-item {
    margin: 0 0 10px 0;
    position:relative;
}

.order-item .handle {
    display: block;
    height: 100%;
    width: 650px;
    cursor: move;
}

.item-delete {
    cursor:pointer;
    float:right;
    margin:3px 0px 0px 5px;
}
.active-item {
    background-color:#eee;
}

.highlight {
    height: 26px;
    background-color:#def;
    margin: 0 0 10px 0;
}

.button {
    margin:5px; padding:5px;
    font-weight: bold;
    background-image:url('../img/nav-bg.gif');
    cursor:pointer;
    border: 1px solid #678;
    width:30px;
}
th { vertical-align: middle; }

select {
    max-width: 580px;
}

#main_wrapper {
    margin: 10px 0 0 0;
}

textarea {
    width: 580px;
    margin-top:5px;
    margin-bottom:5px;
}

.item-minimize {
    width: 15px;
    height:15px;
    float: left;
    cursor: pointer;
    margin-left:-17px;
}

.item-minimize-disabled {
    width: 15px;
    height:15px;
    float: left;
    margin-left:-17px;
}

.machine-control {
    height:50px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #ccc;
    background-color:#fff;
    width:843px;
    position:absolute;
    left:-11px;
    bottom:-11px;
}

.control-unit {
    float:left;
    padding-left:15px;
    padding-right:10px;
    border-right: 1px solid #eee;
}

.control-unit span {
    font-weight:bold;
}

.empty-machine-msg {
    margin:10px 0px 5px 300px;
    font-style: italic;
    font-size:14px;
    color:#999;
}

td span select {
    width:600px;
}

.popup_bg {
    width:100%; height:100%;
    background-color:white;
    opacity: 0.5;
    filter:alpha(opacity=50);
    position:absolute;
    top:0px; left:0px;
}

#sitetree-wrapper {
    margin: 0;
    padding: 20px 1px 0 1px;
}

#sitetree {
    width: 100%;
}

#sitetree tr td {
    overflow: hidden;
    white-space: nowrap;
}

.title-col {
    position:relative;
    z-index:2;
    background-color:none;
}
td div.wrap {
    border: 0px solid #000;
    margin: -5px;
    padding: 4px;
    position:relative;
}

.insert-as-child {
    position:absolute;
    bottom:-3px;
    left: 15px;
    height:15px;
    width:100%;
    border: 0px solid #0f0;
}
.insert-as-sibling {
    position:absolute;
    top:0px;
    left: 15px;
    height:10px;
    width:100%;
    border: 0px solid #f00;
}

.nohover {
    background-color: #eef;
}

.flash {
    background-color: #afa;
}

.hover-as-child {
    background-color:#cdf;
}

.hover-as-sibling {
    border: 1px solid #aee;
}

.move-node {
    cursor: move;
    margin-left:5px;
}
.del-page {
    cursor: pointer;
}
