#content.colM {
    width:845px;
}

.navi_tab {
    float:left;
    padding: 3px 10px 3px 10px;
    cursor:pointer;
    border: 1px solid #ccc;
    border-bottom:none;
    min-width:100px;
    margin-top:3px;
    height:13px;
    font-weight: normal;
    background-image:none;
    color: black;
}
.tab_active {
    margin-top: 0;
    height:16px;
    font-weight: bold;
    background-image:url('img/default-bg.gif');
    color: white;
}

#main {
    clear:both;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.panel {
     display:none;
     position:relative;
     padding-bottom:50px;
}

.order-machine {
    margin-bottom:10px;
}

.order-item {
    margin: 0 0 10px 0;
    position:relative;
}

.order-item .handle {
    display: block;
    height: 100%;
    width: 650px;
    cursor: move;
}

.item-delete {
    cursor:pointer;
    float:right;
    margin: 2px 0px 0px 0;
}
.active-item {
    background-color:#eee;
}

.highlight {
    height: 26px;
    background-color:#def;
    margin: 0 0 10px 0;
}

.button {
    margin:5px; padding:5px;
    font-weight: bold;
    background-image:url('img/nav-bg.gif');
    cursor:pointer;
    border: 1px solid #678;
    width:30px;
}

th { vertical-align: middle; }

select {
    max-width: 580px;
}

#main_wrapper {
    margin: 10px 0 0 0;
}

textarea {
    width: 580px;
    margin-top:5px;
    margin-bottom:5px;
}

.item-minimize {
    width: 15px;
    height:15px;
    float: left;
    cursor: pointer;
    margin-left:-17px;
}

.item-minimize-disabled {
    width: 15px;
    height:15px;
    float: left;
    margin-left:-17px;
}

.machine-control {
    height:50px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #ccc;
    background-color:#fff;
    width:843px;
    position:absolute;
    left:-11px;
    bottom:-11px;
}

.control-unit {
    float:left;
    padding-left:15px;
    padding-right:10px;
    border-right: 1px solid #eee;
}

.control-unit span {
    font-weight:bold;
}

.empty-machine-msg {
    margin:10px 0px 5px 300px;
    font-style: italic;
    font-size:14px;
    color:#999;
}

td span select {
    width:600px;
}

.popup_bg {
    width:100%; height:100%;
    background-color:white;
    opacity: 0.5;
    filter:alpha(opacity=50);
    position:absolute;
    top:0px; left:0px;
}

#sitetree-wrapper {
    margin: 0;
    padding: 20px 1px 0 1px;
}

#sitetree {
    width: 100%;
}

#sitetree tr td {
    overflow: hidden;
    white-space: nowrap;
}

.title-col {
    position:relative;
    z-index:2;
    background-color:none;
}

td div.wrap {
    margin: -5px;
    padding: 5px 5px 5px 5px;
    position: relative;
}

.insert-as-child {
    position: absolute;
    bottom: 0px;
    left: 15px;
    height: 12px;
    width: 100%;
}
.insert-as-sibling {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 12px;
    width: 100%;
}

.nohover {
    background-color: #fff;
}

.flash {
    background-color: #afa;
}

td div.hover-as-child {
    background-color: #cdf;
}

td div.hover-as-sibling {
    border-top: 2px solid #cdf;
    padding-top: 3px;
}

.move-node {
    cursor: move;
    margin-left:5px;
}

.del-page {
    cursor: pointer;
    margin: 0 0 1px 0;
}




/* jQuery TreeTable Core 2.0 stylesheet
 *
 * This file contains styles that are used to display the tree table. Each tree
 * table is assigned the +treeTable+ class.
 * ========================================================================= */

/* jquery.treeTable.collapsible
 * ------------------------------------------------------------------------- */
.treeTable tr td .expander {
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander {
  background-image: url(img/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander {
  background-image: url(img/toggle-collapse-dark.png);
}

/* jquery.treeTable.sortable
 * ------------------------------------------------------------------------- */
.treeTable tr.selected, .treeTable tr.accept {
  /*background-color: #7799ff;
  color: #fff;*/
}

.treeTable tr.append {
  border-bottom: 2px solid #7799ff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
  /*background-image: url(img/toggle-expand-light.png);*/
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
  /*background-image: url(img/toggle-collapse-light.png);*/
}

.treeTable .ui-draggable-dragging {
  color: #000;
  z-index: 1;
}



/* jQuery alerts */
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 1px #666;
	color: #000;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #eee url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #666;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(img/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(img/info.gif);
}

#popup_content.confirm {
	background-image: url(img/important.gif);
}

#popup_content.prompt {
	background-image: url(img/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

