{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}feincms/resumable.css" />
<script type="text/javascript" src="{{ STATIC_URL }}feincms/resumable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block content %}

{{ block.super }}

<div class="module">
    <form action="{% url admin:mediafile_bulk_upload %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
    <p style="color: #666; font-size: 11px;">
        <label for="data">{% trans "Bulk upload a ZIP file:" %}
            <input type="file" name="data">
        </label>
        | {% trans "Category" %}
        <select name="category">
            <option value="">---</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.path }}</option>
            {% endfor %}
        </select>
        | {% trans "Overwrite" %}
        <input type="checkbox" name="overwrite">
        |
        <input type="submit" value="{% trans "Send" %}">
    </p>
    </form>
    <hr>
	
	<div class="resumable-error">
	    {% trans 'Your browser, unfortunately, is not supported by Resumable.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.' %}
	</div>
	
	<div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
	    {% trans 'Drop files here to upload or ' %}<a class="resumable-browse"><u>{% trans 'select from your computer' %}</u></a>
	</div>
	      
	<div class="resumable-progress">
	    <table>
	        <tr>
		        <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
		        <td class="progress-text" nowrap="nowrap"></td>
		        <td class="progress-pause" nowrap="nowrap">
		            <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="{{ STATIC_URL }}feincms/img/resume.png" title="Resume upload" /></a>
		            <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="{{ STATIC_URL }}feincms/img/pause.png" title="Pause upload" /></a>
		        </td>
	        </tr>
	    </table>
	</div>
	  
	<ul class="resumable-list"></ul>
	
</div>
<script type="text/javascript">
if (window.location.href.indexOf('pop=1') != -1) {
    (function($){
        $(function() {
            $('#result_list img').bind('click', function() {
                $(this).parents('tr').find('th:nth(0) a').trigger('click');
                return false;
            });
        });
    })(django.jQuery);
}
</script>

<script>
    var r = new Resumable({
        target:'{% url admin:mediafile_async_upload %}',
        chunkSize:1*1024*1024,
        simultaneousUploads:4,
        testChunks:false,
        throttleProgressCallbacks:1
      });
    // Resumable.js isn't supported, fall back on a different method
    if(!r.support) {
    	$('.resumable-error').show();
    } else {
      // Show a place for dropping/selecting files
      $('.resumable-drop').show();
      r.assignDrop($('.resumable-drop')[0]);
      r.assignBrowse($('.resumable-browse')[0]);

      // Handle file add event
      r.on('fileAdded', function(file){
          // Show progress pabr
          $('.resumable-progress, .resumable-list').show();
          // Show pause, hide resume
          $('.resumable-progress .progress-resume-link').hide();
          $('.resumable-progress .progress-pause-link').show();
          // Add the file to the list
          $('.resumable-list').append('<li class="resumable-file-'+file.uniqueIdentifier+'">Uploading <span class="resumable-file-name"></span> <span class="resumable-file-progress"></span>');
          $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-name').html(file.fileName);
          // Actually start the upload
          r.upload();
        });
      r.on('pause', function(){
          // Show resume, hide pause
          $('.resumable-progress .progress-resume-link').show();
          $('.resumable-progress .progress-pause-link').hide();
        });
      r.on('complete', function(){
          // Hide pause/resume when the upload has completed
          $('.resumable-progress .progress-resume-link, .resumable-progress .progress-pause-link').hide();
        });
      r.on('fileSuccess', function(file,message){
          // Reflect that the file upload has completed
          $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(completed)');
        });
      r.on('fileError', function(file, message){
          // Reflect that the file upload has resulted in error
          $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(file could not be uploaded: '+message+')');
        });
      r.on('fileProgress', function(file){
          // Handle progress for both the file and the overall upload
          $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html(Math.floor(file.progress()*100) + '%');
          $('.progress-bar').css({width:Math.floor(r.progress()*100) + '%'});
        });
    }
</script>
{% endblock %}
