{% load i18n %}

    DELETE_MESSAGES = ["{% trans "Really delete item?" %}", "{% trans "Confirm to delete item" %}",
        "{% trans "Item deleted successfully." %}", "{% trans "Cannot delete item" %}",
        "{% trans "Cannot delete item, because it is parent of at least one other item." %}"];
    TREE_SAVED_MESSAGE = "{% trans "Tree saved successfully." %}";
    CHANGE_TEMPLATE_MESSAGES = ["{% trans "Change template" %}",
        "{% trans "Really change template? <br/>All content will be moved to main region." %}"];
