{% extends "admin/change_form.html" %}
{% load feincms_compat_tags i18n admin_modify adminmedia %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block extrahead %}{{ block.super }}
{% block feincms_jquery_ui %}
{% if FEINCMS_ADMIN_MEDIA_HOTLINKING %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
{% else %}
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}ui/jqueryui-custom-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}ui/jqueryui-custom-1.7.2.css" />
{% endif %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}style.css" />
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.alerts.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}item_editor.js"></script>

{% include "admin/feincms/_messages_js.html" %}
{% include "admin/feincms/_regions_js.html" %}


{% for inc in object.feincms_item_editor_includes.head %}{% include inc %}{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
        {% block extra-init-js %}{# /* do not use this block, use feincms_item_editor_includes instead */ #}{% endblock %}

  /* handle Cmd-S and Cmd-Shift-S as save-and-continue and save respectively */
  $(document.documentElement).keydown(function(event) {
      if(event.which == 83 && event.metaKey) {
          sel = event.shiftKey ? 'form:first .save-button' :
                                 'form:first .save-continue-button';
          $(sel).click();
          return false;
          }
      });

  });
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% if add %}{{ title }}{% else %}{{ object }}{% endif %}
</div>
{% endblock %}

{% block content %}

<div id="content-main">

{% block object-tools %}
<ul class="object-tools">
    {% if object.get_absolute_url %}
    <li><a target="_blank" href="{{ object.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
    {% endif %}
    {% if object.get_preview_url %}
        <li><a target="_blank" href="{{ object.get_preview_url }}" class="viewsitelink">{% trans "Preview" %}</a></li>
    {% endif %}
    {% if has_add_permission and has_parent_attribute %}
        <li><a href="../add/?parent={{ object.pk }}" class="addchild">{% trans "Add child page" %}</a></li>
    {% endif %}
</ul>
{% endblock %}

<form name="main_form" enctype="multipart/form-data" action="." method="post" id="{{ opts.module_name }}_form">
{% csrf_token %}
{% block form_top %}{% endblock %}
<div>

<div class="submit-row" >
<input type="submit" value="{% trans "Save" %}" class="default save-button" name="_save" />
{% if not add %}
<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>
{% endif  %}

<input type="submit" value="{% trans "Save and add another" %}" class="save-add-button" name="_addanother"  />
<input type="submit" value="{% trans "Save and continue editing" %}" class="save-continue-button" name="_continue" />
</div>

{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in object_form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

            {% with object.available_translations as translations %}
            {% if translations %}
                <div style="padding:5px 0 0 0">
                {% trans "available translations" %}:
                {% for translation in translations %}
                    <a href="../{{ translation.id }}/" title="{{ translation }}">{{ translation.language|upper }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}


{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error belo
w.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% if fieldset.name == FEINCMS_CONTENT_FIELDSET_NAME %}
    {% include "admin/feincms/content_editor.html" %}
  {% else %}
    {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}


<div class="submit-row" >
<input type="submit" value="{% trans "Save" %}" class="default" name="_save" />
{% if not add %}
<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>
{% endif %}

<input type="submit" value="{% trans "Save and add another" %}" name="_addanother"  />
<input type="submit" value="{% trans "Save and continue editing" %}" name="_continue" />
</div>

<div id="inlines">
{% for formset in inline_formsets %}
    <div id="{{ formset.rel_name }}">
        <div class="header">
            {{ formset.management_form }}
        </div>
        {% for form in formset.forms %}
            <div id="{{ formset.rel_name }}_item_{{ forloop.counter0 }}">
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="form-row{% if field.errors %} errors{% endif %}">
                            {{ field.errors }}
                            <label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}</label>{{ field }}
                            {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% prepopulated_fields_js %}
</div>
</form>

</div>
{% endblock %}

