{% extends "admin/change_list.html" %}
{% load i18n admin_modify adminmedia mptt_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery-1.3.min.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.ui.all.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.livequery.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.alerts.js"></script>

<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}helper.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}listener.js"></script>

<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.treeTable.js"></script>
<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.json-1.3.js"></script>
<script type="text/javascript">



    ancestors = [{% for page in object_list %}'{{ page.parent_id|default_if_none:"0" }}'{% if not forloop.last %},{% endif %} {% endfor %}];

    tablestr = '';
    {% for page in object_list %}tablestr += add_row({{ forloop.counter }}, {{ page.id }}, "{{ page.parent_id|default_if_none:"-1" }}", "{{ page.title }}", ["{{ page.active }}", "{{ page.in_navigation }}"]);
    {% endfor %}

    function add_row(node_id, page_id, parent_id, page_title, attrs) {
        var str = '<tr id="node-' + node_id + '" class="page-id-' + page_id + ' ';
        if (parseInt(parent_id) >= 0)
            str += 'child-of-node-'+ancestors.indexOf(parent_id);
        str += '">';
        str += '<td><div class="wrap nohover">';
        str += '<div class="insert-as-child"></div>';
        str += '<span class="title-col"><a href="'+page_id+'"><strong>'+page_title+'</strong></a><img class="move-node" src="{{ FEINCMS_ADMIN_MEDIA }}img/icon_move.gif" /></span>';
        str += '<div class="insert-as-sibling"></div>';
        str += '</div></td>';
        for (key in attrs)
            str += '<td>'+attrs[key]+'</td>';
        str += '<td><img class="del-page" src="{{ FEINCMS_ADMIN_MEDIA }}img/icon_deletelink.gif"/></td></tr>';
        return str;
    }

    $(document).ready(function()  {
            // build table
            $("#sitetree tbody").append(tablestr);
            // register
            $("#sitetree").treeTable();
            // configure draggable
            $("#sitetree .title-col").draggable({
              helper:  function(){ return $(this).parent().clone(); } ,
              handle: ".move-node",
              opacity: .75,
              refreshPositions: true,
              revert: "invalid",
              revertDuration: 300,
              scroll: true
            });
            // configure droppable to insert as child
            $("#sitetree .insert-as-child").each(function() {
              $(this).droppable({
                accept: ".title-col",
                tolerance: "intersect",
                drop: function(e, ui) {
                    handle_drop_event($(ui.draggable).parents("tr"), $(this).parents("tr"), "child")
                },
                over: function(e, ui) {
                  $(this).parent().removeClass("nohover").addClass("hover-as-child");
                },
                out: function(e, ui) {
                  $(this).parent().removeClass("hover-as-child").addClass("nohover");
                }
              });
            });
            // configure droppable to insert as sibling
            $("#sitetree .insert-as-sibling").each(function() {
              $(this).droppable({
                accept: ".title-col",
                tolerance: "intersect",
                drop: function(e, ui) {
                    handle_drop_event($(ui.draggable).parents("tr"), $(this).parents("tr"), "sibling")
                },
                over: function(e, ui) {
                  var row = '<div style="background-color:#bcf; height:4px; width:100%; margin:-8px 0px 4px -5px; position:relative; z-index:10;"></div>'
                  $(row).insertBefore($(this).parent());
                },
                out: function(e, ui) {
                  $(this).parent().prev().remove();
                }
              });
            });

            $(".wrap").live('click',function() {
                if ($(this).find(".expander").length > 0)
                    $(this).parents("tr").toggleBranch();
            });

            $(".save_tree").click(function(){
                    save_page_tree();
            });

            $(".del-page").click(function(){
                handle_page_delete($(this).parents("tr"));
            });

    });

</script>

<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}css/layout.css" />
<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}css/jquery.alerts.css" media="screen" />
<link href="{{ FEINCMS_ADMIN_MEDIA }}css/jquery.treeTable.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div id="content-main">
    {% block object-tools %}
    {% if has_add_permission %}
    <ul class="object-tools"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
    {% endif %}
    {% endblock %}
</div>

<input type="button" value="save tree" class="save_tree" style="margin: 20px 5px -10px 460px;"/>

<div id="sitetree-wrapper">
<table id="sitetree" border="1">
    <thead>
    <tr id="table_header">
        <th width="400">{% trans  "Page" %}</th>
        <th>{% trans  "active" %}</th>
        <th>{% trans  "in navi" %}</th>
        <th>{% trans  "delete" %}</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>

{% endblock %}

