<script type="text/javascript" src="{{ TINYMCE_JS_URL }}"></script>

<script type="text/javascript">
    tinyMCE.init({
        mode: "none",
        theme: "advanced",
        language: "en",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_buttons1: "fullscreen,|,formatselect,|,bold,italic,|,sub,sup,|,bullist,numlist,|,anchor,link,unlink,|,tablecontrols,|,code",
        theme_advanced_buttons2: "",
        theme_advanced_path: false,
        theme_advanced_blockformats: "p,h1,h2,h3",
        theme_advanced_resizing: true,
        table_styles : "Header 1=header1;Header 2=header2;Header 3=header3",
        table_cell_styles : "Header 1=header1;Header 2=header2;Header 3=header3;Table Cell=tableCel1",
        table_row_styles : "Header 1=header1;Header 2=header2;Header 3=header3;Table Row=tableRow1",
        table_cell_limit : 100,
        table_row_limit : 100,
        table_col_limit : 4,
        width: '720',
        height: '300',
        {% if TINYMCE_CONTENT_CSS_URL %}content_css: "{{ TINYMCE_CONTENT_CSS_URL }}",{% endif %}
        {% if TINYMCE_LINK_LIST_URL %}external_link_list_url: "{{ TINYMCE_LINK_LIST_URL }}",{% endif %}
        plugins: "fullscreen,paste,table",
        paste_auto_cleanup_on_paste : true,
        relative_urls: false
    });

    (function($){
        contentblock_init_handlers.push(function(){
            $('.order-machine textarea[class=item-richtext-tinymce], #frontend_editor textarea[class=item-richtext-tinymce]').each(function(){
                feincms_richtext_add_tinymce($(this));
            });
        });
    })(feincms.jQuery);

    var tinymce_added = {};

    function feincms_richtext_remove_tinymce(field) {
        var id = field.attr("id");
        if(tinymce_added[id]) {
            tinyMCE.execCommand('mceRemoveControl', false, id);
            tinymce_added[id] = false;
        }
    }

    function feincms_richtext_add_tinymce(field) {
        var id = field.attr("id");
        if(!tinymce_added[id]) {
            tinyMCE.execCommand('mceAddControl', false, id);
            tinymce_added[id] = true;
            }
    }
</script>
