{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}

{% block extrahead %}
{{ block.super }}

<style type="text/css">
    table { display: none; }    /* hide table until set up */
</style>

<script type="text/javascript">
    /* This represents the current state of the page tree. Would need to be
       refreshed if pages are moved or deleted, but for now that is not possible */
    var tree_structure = {{ cl.model.page_tree_json }};
</script>

{% endblock %}


{% comment %}
      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}

	<h3>Links</h3>
	<li class="selected"><a href="#">Dings</a> </li>
          </div>
        {% endif %}

      {% endblock %}
{% endcomment %}