{% extends "admin/feincms/item_editor.html" %}

{% load i18n %}

{% block object-tools %}
<ul class="object-tools">
    {% if to_replace %}
        <li><a href="?replace={{ to_replace.id }}">{% blocktrans %}Replace page {{ to_replace }}{% endblocktrans %}</a></li>
    {% endif %}

    {% if object.is_active %}
        <li><a href="?create_copy=1">{% trans "Create hidden copy of this page" %}</a></li>
        <li><a target="_blank" href="{{ object.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
    {% else %}
        {% if object.get_preview_url %}
            <li><a target="_blank" href="{{ object.get_preview_url }}" class="viewsitelink">{% trans "Preview" %}</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endblock %}
